/* Include library */
/* Based off Eric Meyer's HTML5 reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* remember to define visible focus styles!
:focus {
    outline: ??????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container:before,
.container:after {
  content: "";
  display: table; }

.container:after {
  clear: both; }

/* For IE 6/7 (trigger hasLayout) */
.container {
  zoom: 1; }

.column {
  float: left;
  padding: 10px; }
  .column:first-child {
    padding-left: 0; }
  .column:last-child {
    padding-right: 0; }
  .column.column-single {
    width: 25%; }
  .column.column-double {
    width: 50%; }
  .column.column-triple {
    width: 75%; }
  .column.column-one-third {
    width: 33.3%; }
  .column.column-two-third {
    width: 66.6%; }
  .column > header {
    text-transform: uppercase;
    border-bottom: 2px solid #000;
    padding: 10px 5px;
    margin-top: -10px; }
    .column > header > h1 {
      font-size: 20px;
      line-height: 24px; }
      .column > header > h1.single-title {
        font-size: 24px; }
    .column > header > a {
      float: right;
      font-size: 10px;
      line-height: 24px; }
  .column > h2.posted {
    font: "PT Serif", serif;
    text-transform: uppercase;
    font-size: 11px;
    color: #aaa;
    padding: 10px 5px; }
    .column > h2.posted a {
      color: #aaa; }
      .column > h2.posted a:hover {
        color: #a9002a; }

.page-content {
  padding: 10px 5px; }
  .page-content p {
    line-height: 1.4em;
    font-size: 13px; }

.container > .column:first-child {
  padding-left: 0; }

.container > .column:last-child {
  padding-right: 0; }

/* Include modules */
body {
  background-color: #5d5d5d;
  font-family: "PT Serif", serif; }
  body > .wrapper {
    /* max-width: 1280px; */
    width: 1280px;
    margin: 0 auto;
    background: #fff; }
  body > div > footer {
    clear: both; }

a {
  color: #000;
  text-decoration: none; }
  a:hover {
    color: #a9002a; }

.entry-content a, article p a {
  color: #0728b7; }
  .entry-content a:hover, article p a:hover {
    text-decoration: underline;
    color: #a9002a; }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute; }
  .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shado: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    line-height: normal;
    padding: 15px 23px 14px;
    position: absolute;
    left: 5px;
    top: 5px;
    text-decoration: none;
    text-transform: none;
    width: auto;
    z-index: 100000; }

#mailchimp-registration {
  min-height: 265px; }
  #mailchimp-registration .success {
    padding-top: 15px; }

span.edit-link {
  float: right; }

.tbd-entry {
  margin-top: 10px;
  border: 1px solid #aaa;
  background-color: #f4f4f4;
  height: 680px; }
  .tbd-entry h1 {
    line-height: 680px;
    font-size: 32px;
    text-align: center;
    color: #ccc; }

#main-column .news-streams .articles.discussion h1 {
  text-transform: none; }
  #main-column .news-streams .articles.discussion h1 strong {
    font-weight: 600; }

#main-column .news-streams .articles.discussion > article {
  padding: 10px; }
  #main-column .news-streams .articles.discussion > article h1 {
    font-size: 12px; }

.stButton .stButton_gradient, .stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices {
  min-height: 22px; }

.column .stButton .stBubble_count {
  height: 41px; }

em {
  font-style: italic; }

strong, b {
  font-weight: 600; }

#main blockquote {
  margin: 10px 30px 10px 26px;
  padding: 20px;
  background-color: #f4f4f4;
  border-left: 4px solid #ccc; }

#main ul {
  list-style-type: square;
  margin: 10px 30px; }

#main ol {
  margin: 10px 30px; }

#main li {
  line-height: 1.2em; }

#main small {
  font-size: 10pt; }

.input-field {
  display: inline-block;
  vertical-align: top;
  border: 1px solid gray;
  border-radius: 2px;
  height: 28px;
  line-height: 28px;
  font-size: 11px;
  overflow: hidden;
  background-color: #fff; }
  .input-field .input-part {
    display: inline-block;
    vertical-align: top;
    cursor: text; }
    .input-field .input-part input[type=text] {
      font-size: 11px;
      margin: 0;
      height: 26px;
      line-height: 26px;
      text-transform: uppercase;
      padding: 0 4px;
      margin: 0;
      border: none;
      outline: none; }
    .input-field .input-part.input-submit button {
      height: 28px;
      width: 28px;
      border: none;
      background: url("../images/icons/bullseye.png") no-repeat 50% 48% transparent;
      text-indent: -9999em;
      overflow: hidden;
      cursor: pointer; }
  .input-field.input-email {
    width: 100%; }

.masthead {
  background-color: #fff;
  padding: 10px 10px 0;
  /* NEW STYLES */ }
  .masthead > div {
    padding-bottom: 3px;
    border-bottom: 3px solid #000; }
  .masthead .top {
    padding: 5px;
    margin-bottom: 3px;
    border-bottom: 1px solid #000; }
    .masthead .top > .tip-jar {
      float: right;
      text-align: right;
      width: 250px;
      padding-right: 60px;
      background: url("../images/white-sheep.png") no-repeat 95% 50% transparent; }
    .masthead .top > .edition {
      float: left;
      text-align: left;
      width: 250px;
      padding-left: 60px;
      background: url("../images/black-sheep.png") no-repeat 5% 50% transparent; }
    .masthead .top > .social-media ul {
      margin-top: 3px; }
      .masthead .top > .social-media ul li {
        display: inline-block;
        margin: 0;
        list-style-type: none;
        float: right;
        margin-left: 5px; }
        .masthead .top > .social-media ul li a {
          display: inline-block;
          margin-top: -6px; }
    .masthead .top p {
      line-height: 14px;
      font-size: 11px;
      padding: 5px;
      text-transform: uppercase; }
  .masthead .main {
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    min-height: 120px;
    padding: 20px;
    text-align: center; }
  .masthead .ad-holder {
    margin: 3px 0 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    text-align: center; }
    .masthead .ad-holder > .highlights {
      width: 160px;
      font-size: 12px;
      text-transform: uppercase;
      text-align: center;
      padding: 15px 20px; }
      .masthead .ad-holder > .highlights.right {
        float: right; }
      .masthead .ad-holder > .highlights.left {
        float: left; }
      .masthead .ad-holder > .highlights > ul li:after {
        content: '';
        display: block;
        height: 1px;
        width: 50%;
        border-bottom: 1px solid #666666;
        margin: 4px auto; }
      .masthead .ad-holder > .highlights > ul li:last-child:after {
        display: none; }
    .masthead .ad-holder > .third-party {
      padding: 10px;
      margin: 0 160px;
      border-left: 1px solid #000;
      border-right: 1px solid #000; }
  .masthead.small > div {
    border-bottom: 2px solid #000; }
    .masthead.small > div.mini {
      z-index: 9999;
      background-color: #fff;
      transform: translateY(-110%);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 1280px;
      margin: 0 auto; }
      .masthead.small > div.mini.fixed {
        animation: showmasthead 0.5s forwards; }
        .masthead.small > div.mini.fixed.with-admin {
          animation: showadminmasthead 0.5s forwards; }
  .masthead.small .top-main {
    padding: 8px 5px;
    border-bottom: 4px solid #000; }
    .masthead.small .top-main:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      clear: both;
      content: ' ';
      height: 0; }
    .masthead.small .top-main > .search-form {
      float: left; }
      .masthead.small .top-main > .search-form .input-field {
        display: inline-block;
        vertical-align: top;
        border: 1px solid #cccccc;
        border-radius: 2px;
        height: 28px;
        line-height: 28px;
        font-size: 11px;
        overflow: hidden;
        background-color: #fff; }
        .masthead.small .top-main > .search-form .input-field .input-part {
          display: inline-block;
          vertical-align: top;
          cursor: text; }
          .masthead.small .top-main > .search-form .input-field .input-part input[type=text] {
            width: 180px;
            font-size: 11px;
            margin: 0;
            height: 26px;
            line-height: 26px;
            text-transform: uppercase;
            padding: 0 4px;
            margin: 0;
            border: none;
            outline: none; }
          .masthead.small .top-main > .search-form .input-field .input-part.input-submit button {
            height: 28px;
            width: 28px;
            border: none;
            background: url("../images/icons/search.png") no-repeat 50% 48% transparent;
            text-indent: -9999em;
            overflow: hidden;
            cursor: pointer; }
        .masthead.small .top-main > .search-form .input-field.input-email {
          width: 100%; }
    .masthead.small .top-main > .top-nav {
      float: left; }
      .masthead.small .top-main > .top-nav nav {
        padding: 0 18px; }
        .masthead.small .top-main > .top-nav nav li {
          display: inline-block;
          font-size: 0.9em;
          line-height: 1.8em;
          padding: 2px 20px;
          font-weight: bold;
          text-transform: uppercase; }
    .masthead.small .top-main > .social-media {
      float: right; }
      .masthead.small .top-main > .social-media ul {
        margin-top: 3px; }
        .masthead.small .top-main > .social-media ul li {
          display: inline-block;
          margin: 0;
          list-style-type: none;
          float: right;
          margin-left: 5px; }
          .masthead.small .top-main > .social-media ul li a {
            display: inline-block;
            margin-top: -6px; }
    .masthead.small .top-main > .main-logo {
      width: 350px;
      margin: 0 auto; }
  .masthead.small .main-logo {
    text-align: center;
    padding: 5px; }
  .masthead.small .third-party {
    padding: 10px;
    text-align: center; }

@keyframes showmasthead {
  100% {
    transform: translateY(0); } }

@keyframes showadminmasthead {
  100% {
    transform: translateY(32px); } }

.icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  text-indent: -999em;
  border-radius: 3px; }
  .icon.icon-star {
    background-image: url("../images/icons/star.png"); }
  .icon.icon-rss {
    background-image: url("../images/icons/rss.png"); }
  .icon.icon-mail {
    background-image: url("../images/icons/mail.png"); }
  .icon.icon-facebook {
    background-image: url("../images/icons/facebook.png"); }
  .icon.icon-twitter {
    background-image: url("../images/icons/twitter.png"); }
  .icon.icon-youtube {
    background-image: url("../images/icons/youtube.png"); }

.icon-extended {
  min-width: 120px;
  padding-right: 10px;
  height: 30px;
  border-radius: 3px;
  position: relative;
  /* Facebook Arrow Box */ }
  .icon-extended:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; }
  .icon-extended .icon {
    vertical-align: middle; }
  .icon-extended.icon-ex-facebook {
    background-color: #2f477c;
    color: #fff; }
  .icon-extended .like {
    display: inline-block;
    font-family: "Gudea", Helvetica, Arial, Verdana, sans-serif;
    font-size: 11px;
    padding-top: 2px;
    padding-left: 4px;
    vertical-align: middle; }
  .icon-extended .like-count {
    display: inline-block;
    padding: 0 2px;
    margin-left: 2px;
    vertical-align: middle;
    font-size: 11px; }
    .icon-extended .like-count .content {
      font-size: 11px;
      line-height: 11px;
      font-family: monospace;
      color: #666; }
  .icon-extended > a {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .icon-extended.icon-ex-twitter {
    background-color: #0089C0;
    color: #fff; }
  .icon-extended:before, .icon-extended .like-count:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .icon-extended .like-count {
    position: relative;
    background: #fff;
    border: 1px solid #999; }
    .icon-extended .like-count:after {
      border-color: rgba(255, 255, 255, 0);
      border-right-color: #fff;
      border-width: 3px;
      margin-top: -3px; }
    .icon-extended .like-count:before {
      border-color: rgba(153, 153, 153, 0);
      border-right-color: #999;
      border-width: 4px;
      margin-top: -4px; }

header.masthead section.top > .social-media ul li .icon-extended a {
  margin-top: 0; }

.icon-mini {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  text-indent: -999em; }
  .icon-mini.icon-discuss {
    background-image: url("../images/icons/chat-sm.png"); }
  .icon-mini.icon-link {
    background-image: url("../images/icons/link-sm.png"); }
  .icon-mini.icon-watch {
    background-image: url("../images/icons/watch-sm.png"); }

footer {
  padding: 20px 10px;
  background-color: #fff; }
  footer .site-links {
    padding: 5px 0;
    text-transform: uppercase;
    font-size: 12px; }
    footer .site-links li {
      display: inline-block;
      padding: 0 10px;
      border-right: 1px solid #aaa; }
      footer .site-links li:first-child {
        padding-left: 0; }
      footer .site-links li:last-child {
        border-right: none; }
      footer .site-links li > a {
        color: #a9002a; }
        footer .site-links li > a:hover {
          text-decoration: underline; }

#main-column {
  background-color: #fff; }
  #main-column.column {
    padding-top: 0; }
  #main-column .news-popular .articles > article {
    min-height: 1px; }
    #main-column .news-popular .articles > article h1 {
      font-family: "PT Serif", serif;
      font-size: 16px; }
  #main-column .feature-holder .features {
    background-color: #fff; }
    #main-column .feature-holder .features .feature {
      float: left;
      margin: 8px; }
  #main-column .feature-holder .ad-signature {
    padding: 0 15px;
    font-size: 8px;
    font-weight: bold;
    font-family: "Gudea", Helvetica, Arial, Verdana, sans-serif;
    text-align: right;
    text-transform: uppercase; }
  #main-column .news-streams {
    padding: 5px 10px; }
    #main-column .news-streams .articles > article {
      min-height: 1px;
      margin: 0; }
      #main-column .news-streams .articles > article .published {
        font-size: 9px; }
      #main-column .news-streams .articles > article h1 {
        font-family: "PT Serif", serif;
        font-size: 16px; }
  #main-column .news-popular > header {
    margin-top: 10px;
    border-top: 2px solid #000; }
    #main-column .news-popular > header:first-child {
      margin-top: -10px;
      border-top: none; }

#right-column {
  background-color: #fff;
  padding: 10px; }
  #right-column #region-sidebarrightshuffle .sidebar_right_ad {
    width: 100%;
    height: auto;
    margin-top: 10px; }
    #right-column #region-sidebarrightshuffle .sidebar_right_ad > iframe {
      width: 280px;
      height: 250px; }
    #right-column #region-sidebarrightshuffle .sidebar_right_ad > a {
      display: block;
      width: 100%;
      height: auto; }
      #right-column #region-sidebarrightshuffle .sidebar_right_ad > a img {
        display: block;
        width: 100% !important;
        height: auto; }
  #right-column .ad-block > .ad {
    margin-top: 10px;
    width: 100%;
    height: auto; }
    #right-column .ad-block > .ad:first-child {
      margin-top: 0; }
    #right-column .ad-block > .ad > a {
      display: block;
      width: 100%;
      height: auto; }
      #right-column .ad-block > .ad > a img {
        display: block;
        width: 100% !important;
        height: auto; }
  #right-column .ad-block .ad-email-signup {
    background-color: #000;
    color: #fff;
    padding: 25px;
    text-align: center;
    text-transform: uppercase; }
    #right-column .ad-block .ad-email-signup > h1 {
      font-size: 24px;
      line-height: 28px; }
    #right-column .ad-block .ad-email-signup > h2 {
      margin-top: 15px;
      font-size: 14px;
      line-height: 20px; }
    #right-column .ad-block .ad-email-signup > .register {
      margin: 10px 25px; }
      #right-column .ad-block .ad-email-signup > .register .privacy {
        padding-top: 5px;
        font-size: 8px;
        text-align: right; }
        #right-column .ad-block .ad-email-signup > .register .privacy a {
          color: #fff; }
          #right-column .ad-block .ad-email-signup > .register .privacy a:hover {
            text-decoration: underline; }

#archives {
  clear: both; }
  #archives .archives {
    background-color: #fff; }
    #archives .archives.column > header > h1 {
      font-size: 18px; }
    #archives .archives .articles > article {
      min-height: 1px;
      margin: 0;
      padding: 10px 5px; }
      #archives .archives .articles > article h1 {
        font-family: "PT Serif", serif;
        line-height: 16px;
        font-size: 13px; }

#main > .entry-content {
  padding: 0 5px 10px;
  font-size: 12pt;
  font-family: Verdana, Geneva, sans-serif; }
  #main > .entry-content h2 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12pt;
    text-transform: uppercase;
    font-weight: bold; }
  #main > .entry-content h3, #main > .entry-content h4, #main > .entry-content h5 {
    font-weight: bold; }
  #main > .entry-content p {
    padding: 2px 0 12px;
    line-height: 1.5em; }
  #main > .entry-content .delivered-by {
    font-weight: bold;
    font-style: italic; }

#main > nav.navigation.post-navigation {
  border-top: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
  padding: 10px 0;
  font-size: 12px; }
  #main > nav.navigation.post-navigation .nav-links {
    height: 100%; }
  #main > nav.navigation.post-navigation span.prev-link {
    float: left;
    width: 50%; }
  #main > nav.navigation.post-navigation span.next-link {
    float: right;
    width: 50%;
    text-align: right; }
  #main > nav.navigation.post-navigation span .meta-nav {
    font-weight: bold; }

.articles > article {
  margin: 0 5px;
  padding: 15px 10px;
  border-bottom: 1px solid #aaa;
  min-height: 126px;
  position: relative; }
  .articles > article.ad-embedded {
    background-color: #fdf1ca; }
  .articles > article .post-thumbnail {
    float: left;
    margin-right: 15px; }
  .articles > article .published {
    font-family: "PT Serif", serif;
    font-size: 10px;
    padding-bottom: 4px;
    text-transform: uppercase; }
  .articles > article h1 {
    font-family: "PT Serif", serif;
    font-size: 22px;
    text-transform: uppercase; }
    .articles > article h1 b {
      font-weight: 600; }
  .articles > article .icons {
    position: absolute;
    bottom: 10px;
    right: 10px; }
    .articles > article .icons li {
      display: inline-block; }
  .articles > article:last-child {
    border-bottom: none; }
  .articles > article footer {
    margin-right: 56px;
    padding: 5px 0;
    clear: left; }
    .articles > article footer .tag-links a {
      display: inline-block;
      padding: 0 3px;
      font-size: 9px; }

.articles.articles-side > article.post-mini {
  min-height: 0; }
  .articles.articles-side > article.post-mini h1 {
    font-family: "PT Serif", serif;
    font-size: 16px; }

.articles.articles-side > article.ad {
  min-height: 240px;
  border: 1px solid gray;
  background-color: #e6e6e6;
  padding: 10px;
  margin: 8px 10px; }
