.input-field {
  display: inline-block;
  vertical-align: top;
  border: 1px solid lighten($black, 50%);
  border-radius: 2px;
  height: 28px;
  line-height: 28px;
  font-size: 11px;
  overflow: hidden;
  background-color: #fff;
  .input-part {
    display: inline-block;
    vertical-align: top;
    cursor: text;
    input[type=text] {
      font-size: 11px;
      margin: 0;
      height: 26px;
      line-height: 26px;
      text-transform: uppercase;
      padding: 0 4px;
      margin: 0;
      border: none;
      outline: none;
    }
    &.input-submit {
      button {
        height: 28px;
        width: 28px;
        border: none;
        background: url('../images/icons/bullseye.png') no-repeat 50% 48% transparent;
        text-indent: -9999em;
        overflow: hidden;
        cursor: pointer;
      }
    }
  }
  &.input-email {
    width: 100%;
  }
}

.masthead {
  background-color: $white;
  padding: 10px 10px 0;
  & > div {
    padding-bottom: 3px;
    border-bottom: 3px solid $black;
  }
  .top {
    padding: 5px;
    margin-bottom: 3px;
    border-bottom: 1px solid $black;
    & > .tip-jar {
      float: right;
      text-align: right;
      width: 250px;
      padding-right: 60px;
      background: url('../images/white-sheep.png') no-repeat 95% 50% transparent;
    }
    & > .edition {
      float: left;
      text-align: left;
      width: 250px;
      padding-left: 60px;
      background: url('../images/black-sheep.png') no-repeat 5% 50% transparent;
    }
    & > .social-media {
      ul {
        margin-top: 3px;
        li {
          display: inline-block;
          margin: 0;
          list-style-type: none;
          float: right;
          margin-left: 5px;
          a {
            display: inline-block;
            margin-top: -6px;
          }
        }
      }
    }
    p {
      line-height: 14px;
      font-size: 11px;
      padding: 5px;
      text-transform: uppercase;
    }
  }
  .main {
    border-top: 3px solid $black;
    border-bottom: 3px solid $black;
    min-height: 120px;
    padding: 20px;
    text-align: center;
  }
  .ad-holder {
    margin: 3px 0 0;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    text-align: center;
    & > .highlights {
      width: 160px;
      font-size: 12px;
      text-transform: uppercase;
      text-align: center;
      padding: 15px 20px;
      &.right {
        float: right;
      }
      &.left {
        float: left;
      }
      & > ul li {
        &:after {
          content: '';
          display: block;
          height: 1px;
          width: 50%;
          border-bottom: 1px solid lighten($black, 40%);
          margin: 4px auto;
        }
        &:last-child:after {
          display: none;
        }
      }
    }
    & > .third-party {
      padding: 10px;
      margin: 0 160px;
      border-left: 1px solid $black;
      border-right: 1px solid $black;
    }
  }
  /* NEW STYLES */
  &.small {
    padding: 0;

    & > div {
      border-bottom: 2px solid $black;

      &.mini {
        z-index: 9999;
        background-color: #fff;
        transform: translateY(-110%);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 1280px;
        margin: 0 auto;
        border-bottom: none;
        padding-bottom: 0;

        &.fixed {
          animation: showmasthead 0.5s forwards;

          &.with-admin {
            animation: showadminmasthead 0.5s forwards;
          }
        }
      }
    }
    .top-main {
      padding: 8px 5px;
      border-bottom: 4px solid $black;
      &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        clear: both;
        content: ' ';
        height: 0;
      }

      & > .search-form {
        float: left;
        padding: 10px;

        .input-field {
          display: inline-block;
          vertical-align: top;
          border: 1px solid lighten($black, 80%);
          border-radius: 2px;
          height: 28px;
          line-height: 28px;
          font-size: 11px;
          overflow: hidden;
          background-color: #fff;
          .input-part {
            display: inline-block;
            vertical-align: top;
            cursor: text;
            input[type=text] {
              width: 180px;
              font-size: 11px;
              margin: 0;
              height: 26px;
              line-height: 26px;
              text-transform: uppercase;
              padding: 0 4px;
              margin: 0;
              border: none;
              outline: none;
            }
            &.input-submit {
              button {
                height: 28px;
                width: 28px;
                border: none;
                background: url('../images/icons/search.png') no-repeat 50% 48% transparent;
                text-indent: -9999em;
                overflow: hidden;
                cursor: pointer;
              }
            }
          }
          &.input-email {
            width: 100%;
          }
        }
      }
      & > .top-nav {
        float: left;
        nav {
          padding: 10px;
          li {
            display: inline-block;
            font-size: 0.9em;
            line-height: 1.8em;
            padding: 2px 15px;
            font-weight: bold;
            text-transform: uppercase;

            &.dropdown {
              position: relative;

              &:hover ul {
                display: block;
              }

              ul {
                list-style: none;
                display: none;
                margin: 0;
                padding: 0;
                position: absolute;
                top: 35px;
                left: 0;
                z-index: 99999;
                background-color: #444;
                background-image: linear-gradient(#444, #111);
                -moz-border-radius: 5px;
                border-radius: 5px;

                li {
                  float: none;
                  margin: 0;
                  padding: 0;
                  display: block;
                  box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
                }
              }
            }
          }
        }
      }
      & > .social-media {
        float: right;
        padding: 8px 10px;

        ul {
          margin-top: 3px;
          li {
            display: inline-block;
            margin: 0;
            list-style-type: none;
            float: right;
            margin-left: 5px;
            a {
              display: inline-block;
              margin-top: -6px;
            }
          }
        }
      }

      & > .main-logo {
        width: 350px;
        margin: 0 auto;
      }
    }
    .main-logo {
      text-align: center;
      padding: 5px;
    }

    .third-party {
      padding: 10px;
      text-align: center;
    }
  }
}

@keyframes showmasthead {
  100% { transform: translateY(0); }
}

@keyframes showadminmasthead {
  100% { transform: translateY(32px); }
}
