.column {
    float: left;
    padding: 10px;

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }

    &.column-single {
        width: 25%;
    }

    &.column-double {
        width: 50%;
    }

    &.column-triple {
        width: 75%;
    }

    &.column-one-third {
        width: 33.3%;
    }

    &.column-two-third {
        width: 66.6%;
    }

    & > header {
        text-transform: uppercase;
        border-bottom: 2px solid #000;
        padding: 10px 5px;
        margin-top: -10px;

        & > h1 {
            font-size: 20px;
            line-height: 24px;

            &.single-title {
                font-size: 24px;
            }
        }

        & > a {
            float: right;
            font-size: 10px;
            line-height: 24px;
        }
    }

    & > h2.posted {
        font: $font-serif;
        text-transform: uppercase;
        font-size: 11px;
        color: #aaa;
        padding: 10px 5px;

        a {
            color: #aaa;

            &:hover {
                color: #a9002a;
            }
        }
    }
}

.page-content {
    padding: 10px 5px;

    p {
        line-height: 1.4em;
        font-size: 13px;
    }
}

.container {
    & > .column {
        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}
