// Copy variables
$font-serif: 'PT Serif', serif;
$font-sans: 'Gudea', Helvetica, Arial, Verdana, sans-serif;
$font-verdana: Verdana, Geneva, sans-serif;

// Colors
$white: #fff;
$black: #000;
$background-gray: #5d5d5d;
$footer-links: #a9002a;
$link-color: #0728b7;
